* {
    margin: 0;
    
}

.header {
    background-color: #fefbed;
    padding: 20px;
    padding-left: 45px;
    padding-right: 45px;
    font-family: fira-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header img {
    max-height: 80px;
}

.header ul {
    display: inline-block;
    text-align: right;
    padding-top: 32px;
    float: right;
    font-size: 18px;
    
}

.header li {
    display: inline-block;
    padding-right: 40px;
    color: #f39874;
}

.knapp {
    background-color: #f39874;
    border: none;
    color: #fefbed;
    padding: 15px 32px;
    float: right;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 18px;
}

.header ul a:link {
    color: inherit;
    text-decoration: none;    
}


.top-photo {
    
    width: 100%;
    background: url(header.jpg);
    background-size: cover;
    height: 900px;
  
    
}





.main {
   text-align:center;
    font-family: fira sans, sans-serif;
    font-style: normal;
    font-weight: 200;
    min-width: 200px;
    max-width: 100%;
    margin: 0 auto;
    background-color:#fefbed;
    display:flow-root;
    padding-left: 200px;
    padding-right: 200px;
}

.main h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: gooddog-new, sans-serif;
    font-weight: 400;
    font-style: normal;
}


.mainMain {
    text-align:center;
    font-family: fira sans, sans-serif;
    font-style: normal;
    font-weight: 200;
    position: absolute;
}

.menu-item__heading {
    font-family: gooddog-new, sans-serif;
    font-size: 45px;
    font-weight: 400;
    text-transform: capitalize !important;
    line-height: 1.5;
    margin-bottom: 0;
    color: #64c5e2 !important;
    letter-spacing: 1.5px;
}

.menu-item__name {
    font-family: fira sans, sans-serif;
    font-size: 20px;
    
    font-weight: bold;
    text-transform: capitalize !important;
    line-height: 1.5;
    margin-bottom: 0;
    color: black !important;
    letter-spacing: 1.8px;
    
}

.boxFrokost {
    width: 470px;
    min-height: 200px;
    
    
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
   
    padding: 10px 10px;
    padding-top: 0px;
    padding-bottom: 20px;
    text-align: left;
    
    margin-left: -135px;
    margin-right: 200px;
    
    line-height: 1.8;

   
}
.boxLunch {
    width: 850px;
    min-height: 200px;
    
    display: inline-block;
    height: auto;
    padding: 150px 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    
    text-align: left;
    line-height: 1.8;
 
    }

.boxDessert {
    width: 450px;
    min-height: 200px;
    
    display: inline-block;
    height: auto;
    padding: 150px 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 400px;
    
    text-align: left;
    line-height: 1.8;
    
 } 
.frokost img {
    
    width: 280px;
    height: 360px;
    display: inline-block; 
    vertical-align: top;
    margin-right: 30px;
    margin-left: 600px;
    margin-top: -330px;
}
.dessert img {
    width: 240px;
    height: 290px;
    
    vertical-align: top;
    margin-right: 350px;
    margin-left: -150px;
    margin-top: -250px;
    margin-bottom: 0px;
    
}
.box {
    width: 300px;
    min-height: 200px;
    
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: 1.8;
}

.footer {
    background-color:#FAEBD7;
}

.footercolumn {
    float: left;
    width: 25%;
    padding: 30px;
    font-family: fira sans, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
}