* {
    margin: 0;
}

.header {
    background-color: #fefbed;
    color: #201400;
    font-size: 20px;
    padding: 15px;
    padding-left: 30px;

}

.header img {
    max-height: 80px;
}

.header ul {
    display: inline-block;
    font-family: gooddog-new, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header li {
    display: inline-block;
}

.header a:link {
    color: inherit;
    text-decoration: none;
}

.header a.hover {
    
}





.main {
    background-color: #fefbed;
    color: #201400;
    font-size: 15px;
    padding: 15px;
    padding-left: 30px;
    font-family: fira sans, sans-serif;
}

.footer {
    
}

.column {
    float: left;
    width: 33.33%;
    padding: 0px;
}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
}