* {
    margin: 0;
    
}

.header {
    background-color: #fefbed;
    padding: 20px;
    padding-left: 45px;
    padding-right: 45px;
    font-family: fira-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header img {
    max-height: 80px;
}

.header ul {
    display: inline-block;
    text-align: right;
    padding-top: 32px;
    float: right;
    font-size: 18px;
    color: #fefbed;
}

.header li {
    display: inline-block;
    padding-right: 40px;
    color: #f39874;
}

.header ul a:link {
    color: inherit;
    text-decoration: none;    
}

.header ul a:hover {
    color:#68cce7;
}

.knapp {
    background-color: #f39874;
    color: #fefbed;
    padding: 15px 32px;
    float: right;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: -15px;
}

.header .knapp:hover {
    background-color: #68cce7;
    color: #fefbed;
}

.top-photo {
    
    width: 100%;
    background: url(header.jpg);
    background-size: cover;
    height: 900px;
}




.main {
    text-align: center;
    font-family: fira sans, sans-serif;
    font-style: normal;
    font-weight: 200;
    min-width: 200px;
    max-width: 100%;
    margin: 0 auto;
    background-color:#fefbed;
    display:flow-root;
    padding: 50px 150px;
}

.main h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: gooddog-new, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: auto;
}


.menu-item__heading {
    font-family: gooddog-new, sans-serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: -30px;
    color: #64c5e2;
    letter-spacing: 1px;
}

.menu-item__name {
    font-family: fira sans, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
    letter-spacing: 1px;
    
}
.menu-item__description {
    font-family: fira sans, sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
}
.menu-item__allergener {
    font-family: fira sans, sans-serif;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.boxFrokost {
    width: 470px;
    min-height: 200px;
    
    
    display: inline-block;
    margin-right: 200px;
    
    padding: 10px 10px;
    padding-top: 0px;
    padding-bottom: 20px;
    text-align: left;
    line-height: 1.8;
}

.boxLunch {
    width: 750px;
    min-height: 200px;
    
    display: inline-block;
    height: auto;
    
    padding-top: 20px;
    padding-bottom: 20px;
    
    text-align: left;
    line-height: 1.8;
    margin-right: 200px;
 
    }

.boxDessert {
    width: 450px;
  
    
    display: inline-block;
    height: auto;
    padding: 150px 50px;
    padding-top: 0px;
    padding-bottom: 40px;
    margin-left: 400px;
    margin-top: -20px;
    text-align: left;
    line-height: 1.8;
    
 } 
.frokost img {
    
    width: 240px;
    height: 360px;
    display: inline-block; 
    vertical-align: top;
    margin-right: 30px;
    margin-left: 600px;
    margin-top: -330px;
}
.dessert img {
    width: 240px;
    height: 290px;
    
    vertical-align: top;
    margin-right: 350px;
    margin-left: -150px;
    margin-top: -275px;
    margin-bottom: 40px;
    padding-bottom: 20px;
}
.box {
    width: 300px;
    min-height: 200px;
    
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 30px;
    line-height: 1.8;
    padding-left: 20px;
    padding-right: 20px;
}

.footer {
    background-color:#FAEBD7;
}

.footercolumn {
    float: left;
    width: 20%;
    padding: 30px;
    font-family: fira sans, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    
}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
}